@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


.button-user {
    width: 50rem;
    text-decoration: none;
    content: none;
    align-items: center;
    justify-content: center;
    height: 3rem;
    font-weight:bold;
}

.custom-button {
    padding: 5px 10px;
    font-size: 12px;
    max-height: 30px;
    max-width: 50px;
    /* Atur ukuran dan gaya lainnya sesuai kebutuhan Anda */
}