@import url("https://fonts.googleapis.com/css?family=Montserrat");

.title {
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: 1em
}

.background-image {
    background-image: url("../../assets/img/Background-Login.png");
    background-size: cover;
    background-position: center;
}
