@import url("https://fonts.googleapis.com/css?family=Montserrat");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.title-login {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: #C71C15;
    text-align: center;
    /* margin-top: 1em */
}
