@import url("https://fonts.googleapis.com/css?family=Montserrat");

.content{
    margin-top: 6em;
}

.title-landing{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    font-weight: 600;
}

.description {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
}

.button {
    font-family: "Montserrat", sans-serif;
    width: 30%;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    background-color: #820000;
    border: none;
    border-radius: 12px;
    color: white !important; 
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
